<div class="container">
  <ul class = "list-index">
  <% @articles.each do |article| %>
    <li d="title"><%= link_to article.title, article_path(article)%></li>
    <li id="subtitle"><%= article.content.first(50) %>...</li>
  <% end %>
  </ul>
</div>
